// All the variables come here


/////// Global variables /////////

$mainFontFamily: 'Poppins', sans-serif;
$mainFontColor: #000;


////// Components Variables ///////

// Product-box variables

$productBoxButtonBgColor: #fff;
$productBoxButtonBgHoverColor: #3e976c;
$productBoxButtonFontColor: #000;
$productBoxButtonFontHoverColor: #fff;
$productBoxTitleFontColor: #7A7A7A;
$productBoxRatingColor: #f2b03d;

// mainButton variables

$mainButtonBgColor: #BDEFD7;
$mainButtonColor: #000;
$mainButtonBgHoverColor: #3e976c;
$mainButtonHoverColor: #fff;

// upButton variables

$mainUpButtonColor: #000;
$mainUpButtonHoverColor: #3e976c;



////// Parts Variables ///////

// Navigation variables

$navbarBgColor: #ffffff9b;
$navbarMoveBoxShadow: #0000001a;
$navbarSearchInputBg: #f3f3f3;
$navbarLinkColor: #000;
$navbarLinkHoverColor: #3e976c;
$navbarButtonColor: #000;
$navbarBadgeBgColor: #bdefd6;
$navbarBadgeColor: #3e976c;

// Footer variables

$footerBgColor: #fff;
$footerHeaderColor: #3C3C3C;
$footerTextColor: #999999;
$footerNewsletterLinkColor: #3e976c;
$footerNewsletterSubmitColor: #3e976c;
$footerBracketBorderColor: #d8d5d56d;
$footerIconBgColor: #d2d2d245;
$footerIconColor: #999999;
$footerIconBgHoverColor: #BDEFD7;
$footerIconHoverColor: #3C3C3C;
$footerElementHoverColor: #3e976c;
$footerNewsletterBgColor: #F2F2F2;
$footerBottomLinkHoverColor: #3e976c;

////// Sections Variables ///////

// Slider variables

$sliderDotBgColor: #bdefd6;
$sliderDotBgActiveColor: #3e976c;

// Blog variables 

$blogBgColor: #f9f9f9;
$blogPostBgColor: #fff;
$blogPostCategoryColor: #D2d2d2;
$blogPostDescriptionColor: #999999;
$blogPostTitleColor: #000;
$blogPostTitleHoverColor: #3e976c;
$blogPostCategoryHoverColor: #3e976c;





